<%#= form_with url:registration_path do |f| %>


      <% @registration.each do |f| %>
        <p>
          <%= f.name %>
        </p>
      <% end %>


<div class="actions">
<%= f.submit "登録", class: :form__btn %>
</div>
<%# end %>